* {
  padding: 0;
  margin: 0;
  font-family: 'Irish Grover', cursive;
}

body {
  background-color: rgb(255, 247, 236);
  /* height: 100vh;
  display: grid;
  place-items: center; */
}

h1 {
  display: grid;
  place-items: center;
  margin-top: 200px;
  margin-bottom: 30px;
  font-size: 40px;
}

section {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}

#count {
  display: flex;
  justify-content: center;
  gap: 7px;
}

#carta-texto {
  border-radius: 5px;
  width: 300px;
  padding: 7px;
}

#criar-carta {
  border-radius: 5px;
  width: 100px;
  margin-left: 20px;
}

#carta-contador {
  display: flex;
  justify-content: center;
}

#carta-gerada {
  display: flex;
  justify-content: center;
}

span {
  margin-left: 25px;
}

.newspaper {
  background-color: antiquewhite;
  font-family: 'Times New Roman';
  font-weight: bold;
}

.magazine1 {
  background-color: teal;
  color: white;
  font-family: Verdana;
  font-weight: 900;
  text-transform: uppercase;
}

.magazine2 {
  background-image: url(images/pink-pattern.png);
  color: fuchsia;
  font-family: Verdana;
  font-weight: 900;
}

.medium {
  font-size: 20px;
  padding: 8px;
}

.big {
  font-size: 30px;
  padding: 10px;
}

.reallybig {
  font-size: 40px;
  padding: 15px;
}

.rotateleft {
  transform: rotate(-5deg);
}

.rotateright {
  transform: rotate(5deg);
}

.skewleft {
  transform: skewX(10deg);
}

.skewright {
  transform: skewX(-10deg);
}

footer {
  text-align: center;
  margin-top: 250px;
}
